$mobile-cutoff: 800px;

@mixin mobile {
  @media (max-width: ($mobile-cutoff - 1)) {
    @content;
  }
}

$light-border-color: var(--theme-popup-border);
$heavy-border-color: var(--searchresults-border-color);
$error-color: #e16969;

.ayu {
  --highlight: #46480f;
}

.coal {
  --highlight: #46480f;
}

.light {
  --highlight: #ffffc1;
}

.navy {
  --highlight: #46480f;
}

.rust {
  --highlight: #fdf2ca;
}

.mdbook-quiz-wrapper {
  &.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding: 0 10rem;
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--bg);

    @include mobile {
      padding: 0 1rem;
    }

    .mdbook-quiz {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.mdbook-quiz {
  border: 2px solid $heavy-border-color;
  border-radius: 4px;
  padding: 1em;
  margin-top: 2.5em;
  position: relative;

  @include mobile {
    padding: 0.5em;
  }

  .exit {
    position: absolute;
    right: -4rem;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;

    @include mobile {
      right: 0;
      top: -45px;
    }
  }

  .exit-explanation {
    position: absolute;
    bottom: -2rem;
    right: 0;
    height: 0;
    width: 50%;
    font-size: 0.8em;
    text-align: right;

    @include mobile {
      width: 100%;
    }

    .trigger {
      font-style: italic;
      cursor: pointer;
      margin-bottom: 0.5rem;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0 0 1em;
  }

  h4 {
    margin: 0 0 0.5em;
  }

  button, input[type=submit] {
    font-size: 1.1em;
    cursor: pointer;
    background-color: var(--searchbar-bg);
    color: var(--searchbar-fg);
    border: 1px solid var(--searchbar-border-color);
    border-radius: 4px;
    padding: 3px 5px;
  }

  .prompt,
  .response {
    position: relative;
    padding: 1em;

    @include mobile {
      padding: 0.75em;
    }
  }

  .prompt {
    background: var(--quote-bg);
    margin-bottom: 1em;

    .bug-report {
      position: absolute;
      z-index: 1000;
      max-width: 70%;
      right: 0.5em;
      top: 0.5em;
      text-align: right;

      button {
        filter: grayscale(100%);
        border: 0;
        background: none;
      }

      .reporter {
        background: var(--bg);
        border: 2px solid $light-border-color;
        padding: 0.5em;
        text-align: left;
        border-radius: 4px;
        box-shadow: 1px 1px 4px $light-border-color;
      }
    }
  }

  .response {
    .response-block {
      margin-bottom: 0.5em;

      @include mobile {
        line-height: 2em;
      }
    }
  }

  .option {
    border: 2px solid $light-border-color;
    border-radius: 4px;
    padding: 0.25em;
    margin: 0 0.25em;
    display: inline-block;
  }

  .option-separator {
    margin: 0 0.5em;
  }

  form {
    input.error,
    textarea.error {
      outline-color: $error-color;
    }
    :not(input, textarea).error {
      border: 1px solid $error-color;
    }
  }

  textarea,
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }

  select,
  textarea,
  input[type="text"] {
    padding: 3px 6px;
  }

  textarea {
    min-height: 5em;
  }

  // Add automatic line-numbers to code snippets
  // https://stackoverflow.com/a/64917958
  pre {
    counter-reset: line;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-auto-rows: 1em;
    gap: 0.2em;

    .line-number {
      text-align: right;

      &:before {
        counter-increment: line;
        content: counter(line);
        user-select: none;
        padding-right: 1em;
        color: $heavy-border-color;
        font-size: 0.8em;
      }
    }

    code {
      padding: 0;
    }

    mark {
      background: var(--highlight);
    }
  }

  p,
  pre {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type="submit"] {
    margin-top: 1em;
  }

  .answer-wrapper {
    &:not(:last-child) {
      margin-bottom: 4rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid #ccc;
    }
  }

  .multiple-choice {
    .choice {
      display: flex;
      gap: 10px;

      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }

    input[type="radio"] {
      margin: 0;

      &.error {
        outline: 1px solid $error-color;
      }
    }
  }

  .answer {
    .answer-header {
      margin-bottom: 1em;
    }

    .answer-row {
      display: flex;
      gap: 1rem;

      @include mobile {
        flex-wrap: wrap;
      }

      > div {
        border: 2px solid $light-border-color;
        padding: 1rem;
        width: 50%;
        overflow: auto;

        @include mobile {
          width: 100%;
        }

        .answer-header {
          font-weight: bold;
        }

        .correct:before {
          color: green;
          margin-right: 1rem;
          content: "✓ Correct";
          font-size: 1.5rem;
        }

        .incorrect:before {
          color: red;
          margin-right: 1rem;
          content: "✗ Incorrect";
          font-size: 1.5rem;
        }
      }
    }

    .context {
      margin-top: 1em;
    }
  }

  .info-wrapper {
    display: inline-block;
    position: relative;
  }
  .info-popout {
    position: absolute;
    background: var(--bg);
    left: calc(100% + 10px);
    border: 1px solid $light-border-color;
    padding: 0.5em;
    text-align: left;
    border-radius: 4px;
    max-width: 400px;
    width: max-content;
    box-shadow: 1px 1px 4px $light-border-color;
  }
  .info {
    display: inline-block;
    color: var(--icons);
    border: 1px solid var(--icons);
    border-radius: 50%;
    vertical-align: middle;
    font-size: 12px;
    width: 17px;
    height: 17px;
    font-weight: bold;
    line-height: 1em;
    text-align: center;
    cursor: pointer;

    &:hover {
      color: var(--fg);
      border-color: var(--fg);
    }

    &::before {
      content: "?";
      vertical-align: middle;
    }
  }


}
