$mobile-cutoff: 800px;

@mixin mobile {
  @media (max-width: ($mobile-cutoff - 1)) {
    @content;
  }
}

$light-border-color: var(--theme-popup-border);
$heavy-border-color: var(--searchresults-border-color);
$error-color: #e16969;

.mdbook-quiz-wrapper {
  &.expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    padding: 0 10rem;
    box-sizing: border-box;
    overflow-y: auto;
    background: var(--bg);

    @include mobile {
      padding: 0 1rem;
    }

    .mdbook-quiz {
      max-width: 800px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.mdbook-quiz {
  border: 2px solid $heavy-border-color;
  border-radius: 4px;
  padding: 1em;
  margin-top: 2.5em;
  position: relative;

  @include mobile {
    padding: 0.5em;
  }

  .exit {
    position: absolute;
    right: -4rem;
    top: 0;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem;

    @include mobile {
      right: 0;
      top: -45px;
    }
  }

  .exit-explanation {
    position: absolute;
    bottom: -2rem;
    right: 0;
    height: 0;
    width: 50%;
    font-size: 0.8em;
    text-align: right;

    @include mobile {
      width: 100%;
    }

    .trigger {
      font-style: italic;
      cursor: pointer;
      margin-bottom: 0.5rem;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin: 0 0 1em;
  }

  h4 {
    margin: 0 0 0.5em;
  }

  button {
    font-size: 1.1em;
    cursor: pointer;
  }

  .prompt,
  .response {
    padding: 1em;

    @include mobile {
      padding: 0.5em;
    }
  }

  .prompt {
    background: var(--quote-bg);
    margin-bottom: 1em;
  }

  .response {
    .response-block {
      margin-bottom: 0.5em;

      @include mobile {
        line-height: 2em;
      }
    }
  }

  .option {
    border: 2px solid $light-border-color;
    border-radius: 4px;
    padding: 0.25em;
    margin: 0 0.25em;
  }

  .option-separator {
    margin: 0 0.5em;
  }

  form {
    input.error,
    textarea.error {
      outline-color: $error-color;
    }
    :not(input, textarea).error {
      border: 1px solid $error-color;
    }
  }

  textarea,
  input[type="text"] {
    width: 100%;
    box-sizing: border-box;
  }

  select,
  textarea,
  input[type="text"] {
    padding: 3px 6px;
  }

  textarea {
    min-height: 5em;
  }

  // Add automatic line-numbers to code snippets
  pre {
    counter-reset: line;

    code {
      counter-increment: line;

      &:before {
        content: counter(line);
        user-select: none;
        padding-right: 1.5em;
        color: $heavy-border-color;
        font-size: 0.8em;
      }
    }
  }

  p,
  pre {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  input[type="submit"] {
    margin-top: 1em;
  }

  .answer-wrapper {
    &:not(:last-child) {
      margin-bottom: 4rem;
      padding-bottom: 2rem;
      border-bottom: 2px solid #ccc;
    }
  }

  .multiple-choice {
    .md-flex {
      display: flex;
      gap: 10px;
    }

    input[type="radio"] {
      margin: 0;

      &.error {
        outline: 1px solid $error-color;
      }
    }
  }

  .answer {
    .answer-header {
      margin-bottom: 1em;
    }

    .answer-row {
      display: flex;
      gap: 1rem;
      
      @include mobile {
        flex-wrap: wrap;
      }

      > div {
        border: 2px solid $light-border-color;
        padding: 1rem;
        flex-grow: 1;
        width: 50%;

        @include mobile {
          width: 100%;
        }

        .answer-header {
          font-weight: bold;
        }

        .correct:before {
          color: green;
          margin-right: 0.5rem;
          content: "✓";
          font-size: 1.5rem;
        }

        .incorrect:before {
          color: red;
          margin-right: 0.5rem;
          content: "✗";
          font-size: 1.5rem;
        }
      }
    }

    .context {
      margin-top: 1em;
    }
  }
}
